<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation=" 
          http://www.springframework.org/schema/beans 
          http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
          http://www.springframework.org/schema/mvc 
          http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd 
          http://www.springframework.org/schema/tx 
          http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
          http://www.springframework.org/schema/context 
          http://www.springframework.org/schema/context/spring-context-4.0.xsd 
          http://www.springframework.org/schema/aop 
          http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

	<!-- 启用注解 -->
	<context:annotation-config />
	<!-- aop 自动代理 -->
	<aop:aspectj-autoproxy />
	
	<context:component-scan base-package="com.ry.module.*.service" />


	<!-- Spring上下文管理器 -->
	<bean id="springContextUtil" class="com.ry.utils.SpringContextUtil" />

	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:properties/dbconfig.properties</value>
				<value>classpath:properties/redis.properties</value>
			</list>
		</property>
	</bean>
	<bean id="test" class="com.ry.otherTest.BeanTest" p:pro1="123">
	
	</bean>

	<import resource="spring-db.xml"/>
	<import resource="spring-redis.xml"/>
	<import resource="spring-shiro.xml"/>
</beans>
	